@font-face {
  font-family: "Notosans";
  src: local("NotoSans-Regular"), url("../../fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"), url("../../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"), url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-Regular"), url("../../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Regular"), url("../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"), url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"), url("../../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 4.5rem;
  line-height: 6.125rem;
  text-transform: uppercase;
}
@media (max-width: 1440.98px) {
  h1 {
    font-size: calc(1.25rem + 3.25 * (100vw - 20.061rem) / 80) !important;
    line-height: calc(1.688rem + 4.437 * (100vw - 20.061rem) / 80) !important;
  }
}

h2 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 3.375rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@media (max-width: 1440.98px) {
  h2 {
    font-size: calc(1.125rem + 1.25 * (100vw - 20.061rem) / 80) !important;
    line-height: calc(1.563rem + 1.687 * (100vw - 20.061rem) / 80) !important;
  }
}

h3 {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 32px;
  line-height: 40px;
}
@media (max-width: 1440.98px) {
  h3 {
    font-size: calc(0.563rem + 1.437 * (100vw - 20.061rem) / 80) !important;
    line-height: calc(0.813rem + 0.875 * (100vw - 20.061rem) / 80) !important;
  }
}

h4 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 33px;
}

[class*=_container] {
  padding: 0 1.25rem;
  margin: 0 auto;
  height: 100%;
  max-width: 80rem;
}
@media (max-width: 768.98px) {
  [class*=_container] {
    max-width: none;
  }
}
@media (max-width: 991.98px) {
  [class*=_container] {
    max-width: 48rem;
    /* 991px */
  }
}
a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  color: black;
}

button {
  cursor: pointer;
  border: none;
}

:root {
  --green-color: #319f01;
  --hover-green: #3BBB03;
  --darken-color: #298601;
  --black-color: #000000;
  --active-link: #6C6C6C;
}/*# sourceMappingURL=main.css.map */