.header {
    width: 100vw;
    position: absolute;
    padding-top: 1.25rem;
    background-color: var(--main);
    &__logo {
        height: 6.25rem; //100px
        width: 9.813rem; // 157px
        margin-right: 2.5rem;
        position: relative;
        z-index: 5;
        @media(max-width:1440.98px){
            object-fit: contain;
            width:  calc(8rem + (9.813 - 8) * ((100vw - 20.061rem) / 80));
            margin-right:calc(0.5rem + (2.5 - 0.5) * ((100vw - 61.938rem) / 80));
        }
        @media(max-width:991.98px){
            width: 9.813rem;
            // margin-right: 0.5rem;
            margin-right: 0;
        }
        @media(max-width:768.98px){
            width:  calc(6rem + (9.813 - 6) * ((100vw - 20.061rem) / 80));
        }

    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }
}