.btn {
    width: 14.063rem;
    height: 3.125rem;

    background: linear-gradient(12.18deg, #743837 -18.77%, #C3A78E 221.97%);
    box-shadow: 0px 2px 0px #6C3232, 0px 5px 10px rgba(116, 64, 55, 0.75);
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition:.7s all ease;
    position: relative;
    z-index: 1;
    
    &__link {
        font-size: 1rem;
        line-height: 100%;
        position: relative;
        z-index: 2;
        color: #ffffff;
    }
    &__img{
        margin-right: 0.625rem;
        margin-bottom: -0.125rem;
    }
    &:hover,
    &:focus,
    &:active {
        background: #bb3a3a;
    }
}