.slider {
  font-family: "circle-regular";
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
  margin-top: 7.7rem;
  background-color: var(--main);
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.slider__inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../imgs/main/hero-bcg/eclipse-group.png);
  background-repeat: no-repeat;
  pointer-events: none;
  background-position: center;
  transition: 1s all ease;
  z-index: 2;
}
@media (max-width: 1440.98px) {
  .slider__inner:before {
    background-position: right;
  }
}
@media (max-width: 768.98px) {
  .slider__inner:before {
    background-position-x: calc(-7rem + 4 * (100vw - 20.061rem) / 80);
    background-position-y: -0.5rem;
  }
}
.slider__page {
  display: flex;
  align-items: center;
}
@media (max-width: 768.98px) {
  .slider__page {
    justify-content: flex-end;
  }
}
@media (max-width: 450.98px) {
  .slider__page {
    justify-content: center;
  }
}
.slider__page--inner {
  margin-right: 10vw;
  position: relative;
  z-index: 4;
}
@media (max-width: 991.98px) {
  .slider__page--inner {
    margin-right: 0;
    max-width: 18rem;
  }
}
@media (max-width: 768.98px) {
  .slider__page--inner {
    position: absolute;
    left: 0;
  }
}
@media (max-width: 650.98px) {
  .slider__page--inner {
    background-color: #fff;
    padding-top: calc(1.375rem + 0.625 * (100vw - 20.061rem) / 80);
    padding-bottom: calc(1.375rem + 0.625 * (100vw - 20.061rem) / 80);
    padding-left: calc(1.375rem + 1.125 * (100vw - 20.061rem) / 80);
    padding-right: calc(1.375rem + 1.125 * (100vw - 20.061rem) / 80);
    border-radius: 1rem;
    max-width: 20rem;
    bottom: 1rem;
    left: 0;
  }
}
.slider__page--text {
  font-family: "circle-extrabold";
  font-size: 2.625rem;
  line-height: 120%;
  color: var(--brown);
  margin-bottom: 0.625rem;
  max-width: 29.375rem;
}
@media (max-width: 1440.98px) {
  .slider__page--text {
    font-size: calc(1.375rem + 1.25 * (100vw - 20.061rem) / 80);
  }
}
@media (max-width: 450.98px) {
  .slider__page--text {
    margin-bottom: 1.8rem;
  }
}
.slider__page--subtext {
  font-size: 1rem;
  color: #240401;
  opacity: 0.5;
  margin-bottom: 2.5rem;
  max-width: 29.375rem;
  transition: 1s all ease;
}
@media (max-width: 1440.98px) {
  .slider__page--subtext {
    font-size: calc(0.8rem + 0.2 * (100vw - 20.061rem) / 80);
    margin-bottom: calc(1rem + 1.5 * (100vw - 20.061rem) / 80);
  }
}
@media (max-width: 450.98px) {
  .slider__page--subtext {
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    margin: 0;
  }
}
.slider__hero {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  background-image: url(../../../imgs/main/hero-bcg/main-eclipse.svg);
  background-position-x: 0.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
}
@media (max-width: 1440.98px) {
  .slider__hero {
    -o-object-fit: contain;
       object-fit: contain;
    width: calc(21.875rem + 18.625 * (100vw - 20.061rem) / 80);
    height: calc(28.125rem + 22.938 * (100vw - 20.061rem) / 80);
  }
}

.swiper {
  width: 100vw;
  height: 100%;
}/*# sourceMappingURL=slider.css.map */